{% extends 'base.html.j2' %}
{% block title %}
    Create Item
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="https://res.cloudinary.com/jimshapedcoding/image/upload/v1597332609/android-icon-192x192_ove2a7.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Create Item
            </h1>
            <br>
            {{ form.name.label() }}
            {{ form.name(class="form-control", placeholder="Name") }}

            {{ form.price.label() }}
            {{ form.price(class="form-control", placeholder="Price") }}

            {{ form.img.label() }}
            {{ form.img(class="form-control", placeholder="Image Link") }}

            {{ form.description.label() }}
            {{ form.description(class="form-control", placeholder="Description") }}

            <br>


            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}