{% extends 'base.html.j2' %}
{% block title %}
Market Page
{% endblock %}
{% block content %}

<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-8">
       <h2>The Shooting End General Store</h2>
       <p>From the Get-Off-My-Lawn to the "Look Ma, no arms!" all your needs covererd.</p>
       <div class="create_button" style="float:right;margin:0px 20px 20px 0px;">
         {% if current_user.is_admin %}
            <form method="POST" action="{{url_for('main.create_item')}}">
               <button class="btn btn-outline btn-success" type="submit">Create Item</button>
            </form>
         {% endif %}
       </div>
       <br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <th scope="col">ID</th>
               <th scope="col">Name</th>
               {# <th scope="col">Barcode</th> #}
               <th scope="col">Price</th>
               <th scope="col">Options</th>
            </tr>
         </thead>
         <tbody>
            {% for item in items %}
            <tr>
               <td>{{ item.id }}</td>
               <td>{{ item.name }}</td>
               <td>${{ item.price }}</td>
               <td>
                  <form method="POST" action="{{url_for('main.show_item', id=item.id)}}">
                  <button class="btn btn-outline btn-info" type="submit">Info</button>
                  </form>
               </td>
               <td>
                  <form method="POST" action="{{url_for('main.add_item', id=item.id)}}">
                  <button class="btn btn-outline btn-success" type="submit">Add</button>
                  </form>
               </td>

               {% if current_user.is_admin %}
               <td>
                  <form method="GET" action="{{url_for('main.edit_item', id=item.id)}}">
                  <button class="btn btn-outline btn-warning" type="submit">Edit</button>
                  </form>
               </td>
               <td>
                  <form method="POST" action="{{url_for('main.delete_item', id=item.id)}}">
                  <button class="btn btn-outline btn-danger" type="submit">Delete</button>
                  </form>
               </td>
               {% endif %}
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <div class="col-4">
        <h2>My Loadout</h2>
        <p></p>
        <br> 
        {% for item in current_user.cart %}
         <div class="row">
            <div class="col-md-8 cart_item_text" style="float:left;padding:10px;">
               {{ item.name }} - ${{ item.price }}
            </div>
            
            <div class="col-md-4 cart_item_remove_btn" style="float:right;padding:10px;">
               <form method="POST" action="{{url_for('main.remove_item', id=item.id)}}">
                  <button class="btn btn-outline btn-danger btn-sm" type="submit">Remove</button>
               </form>
            </div>
         </div>
        {% endfor %}
        <br><br><br><br>
         <div class="row">
            <div class="col-md-7 cart_total" style="float:left;padding:5px;">
               Total: ${{ cart_total }}
            </div>

            <div class="col-md-5 empty_cart_btn" style="float:right;padding:5px;">
                  <form method="POST" action="{{url_for('main.empty_cart')}}">
                     <button class="btn btn-outline btn-warning btn-sm" type="submit">Empty Cart</button>
                  </form>
            </div>

         </div>

   </div>
</div>
{% endblock %}