
{% extends 'base.html.j2' %}
{% block title %}
    More Info
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/show_item.css')}}">
{% endblock %}

{% block content %}
  <div class="modal-header">
    <h5 class="modal-title" id="ModalLabel">
      <!-- -->
      {{ item.name }} &nbsp&nbsp&nbsp&nbsp ${{ item.price }}
    </h5>
  </div>

  <div class="container">
    <div class="item_img">
      <img id="item_img" src="{{item.img}}" alt="item image" style="margin: 20px 0vw;
                                                                    max-width:500px;
                                                                    border:solid;
                                                                    border-color:grey;
                                                                    border-width:6px;">
    </div>

    <div class="description">
      {{ item.description }}
    </div>

    <div class="">
      <form method="POST" action="{{url_for('main.market')}}">
        <button type="submit" class="btn btn-secondary" data-dismiss="">
                Back
        </button>
      </form>
    </div>

  </div>
{% endblock %}
